<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="commonHead">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts/fontawesome/all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts/nutio/nutio.css}" />
</th:block>
</body>
</html>