<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/homeLayout}">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div id="analFile">
        <div class="container-fluid">
            <!-- Content Row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="m-0 font-weight-bold text-primary">분석자료 생산</div>
                        </div>

                        <div class="card-body">
                            <div class="table-wrap">
                                <table>
                                    <colgroup>
                                        <col style="width: 180px;">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>지표자료</th>
                                        <td>
                                            <label v-for="checkSurf in checkSurfs" class="inp radio_custom">
                                                <input type="radio" th:name="analItem" v-model="checkSurf.checked" v-bind:value="checkSurf.val">
                                                <i></i><b class="txt" v-text="checkSurf.txt"></b>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>연직자료</th>
                                        <td>
                                            <label v-for="checkVert in checkVerts" class="inp radio_custom">
                                                <input type="radio" th:name="analItem" v-model="checkVert.checked" v-bind:value="checkVert.val">
                                                <i></i><b class="txt" v-text="checkVert.txt"></b>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고도(m)</th>
                                        <td style="padding: 7px 20px;">
                                            <input type="text" placeholder="2.5~2893.3" class="w-23">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>연직층</th>
                                        <td style="padding: 7px 20px;">
                                            <input type="text" placeholder="" class="w-23">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>시간(UTC)</th>
                                        <td>
                                            <label class="checkbox_custom">
                                                <input type="checkbox" v-model="checkAll" @change="ckAll">
                                                <i></i><span class="txt" v-text="checkTimeAll.txt"></span>
                                            </label>
                                            <label v-for="checkTime in checkTimes" class="checkbox_custom">
                                                <input type="checkbox" v-model="checked" v-bind:value="checkTime.val">
                                                <i></i><span class="txt" v-text="checkTime.txt"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>분석방법</th>
                                        <td style="padding: 7px 20px;">
                                            <select name="analType" id="analType" class="w-35">
                                                <option v-for="item in analysis.analMethods" v-bind:value="item.key">{{item.txt}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>기간</th>
                                        <td style="padding: 7px 20px;">
                                            <select name="periodType" id="periodType" class="w-35 periodType">
                                                <option v-for="item in analysis.analPeriods" v-bind:value="item.key">{{item.txt}}</option>
                                            </select>
                                            <div class="input-group input-append date date-ymdhm" data-date-format="yyyy-mm-dd">
                                                <input type="text" class="form-control" name="analStart" id="analStart" />
                                                <span class="input-group-addon add-on pred-Date-addon1">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <span class="or-text">-</span>
                                            <div class="input-group input-append date date-ymdhm" data-date-format="yyyy-mm-dd">
                                                <input type="text" class="form-control" name="analEnd" id="analEnd" />
                                                <span class="input-group-addon add-on pred-Date-addon1">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>영역</th>
                                        <td style="padding: 7px 20px;">
                                            <select name="analArea" id="analArea" class="w-35">
                                                <option v-for="item in analysis.analAreas" v-bind:value="item.key">{{item.txt}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="btn-search-wrap">
                                    <button type="button" class="btn btn-sm btn-primary shadow-sm btn-p" id="prodBtn">
                                        <i class="fas fa-download fa-sm text-white-50 i-p"></i>분석자료 생산
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Content Row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="m-0 font-weight-bold text-primary">그리기 옵션</div>
                        </div>

                        <div class="card-body">
                            <div class="">
                                <span class="col-tit">색상</span>
                                <select name="anal-color" id="anal-color">
                                    <option v-for="item in analysis.analColors" v-bind:value="item.key">{{item.txt}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<!-- user script -->
<th:block layout:fragment="user_script">
    <script type="text/javascript" th:src="@{/babel/kmapp.js}"></script>
</th:block>
</body>
</html>